<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		
	</h:head>
	<ui:fragment>
		<ui:include src="/includes/menubar.xhtml" />
	</ui:fragment>
	<h:body>
     	<h:form enctype="multipart/form-data">
     		<p:messages id="messages" showDetail="true" closable="true" >
				<p:effect type="clip" event="load" delay="5000">
			</p:effect>
		    </p:messages>
		    <p:accordionPanel activeIndex="null">
		        <p:tab title="Send Message to AGI using correct LAU key " closable="true">
		            <h:panelGrid columns="1" cellpadding="10">
		                <h:outputText
		                    value="AGI-1.8 [172.31.31.173] uses AGIQM1 and AGIQM2. AGI-1.4.2 [172.31.31.204] uses AGIQM3 and AGIQM4 " />
		            </h:panelGrid>
		        </p:tab>
		    </p:accordionPanel>
		    <p:separator />
		    <br></br>
		    <div class="ui-fluid p-formgrid p-grid">
		    	<div class="p-field p-col-12 p-md-2">
		            <p:outputLabel for="@next" value="Queue manager"/>
		            <p:selectOneMenu id="qmgrName" value="#{putMQ.qmgr}">
		                <f:selectItem itemLabel="Select one" itemValue="#{null}" />
						<f:selectItems value="#{putMQ.getQmgrs()}" />
						<f:ajax event="change" listener="#{putMQ.getQmgrQueues}" render="inQueue" execute="@this"></f:ajax>
		            </p:selectOneMenu>
		        </div>
		        <div class="p-field p-col-12 p-md-2">
		            <p:outputLabel for="inQueue" value="Input queue" />
		            <p:selectOneMenu disabled="#{empty putMQ.listQueues}" id="inQueue" value="#{putMQ.inQueue}" >
		                <f:selectItem itemLabel="Select one" itemValue="#{null}" />
						<f:selectItems value="#{putMQ.getListQueues()}" />
		            </p:selectOneMenu>
		        </div>
		        <div class="p-field p-col-12 p-md-1">
		            <p:outputLabel for="keypart1" value="Key part1" />
		            <p:inputText id="keypart1" value="${putMQ.keypart1}" placeholder="16 characters lenght" required="false" requiredMessage="Insert keypart1!"/>
		        </div>
		        <div class="p-field p-col-12 p-md-1">
		            <p:outputLabel for="keypart2" value="Key part2" />
		            <p:inputText id="keypart2" value="${putMQ.keypart2}" placeholder="16 characters lenght" required="false" requiredMessage="Insert keypart2!"/>
		        </div>
		        <div class="p-field p-col-12 p-md-1">
			        <p:outputLabel for="msgAmount" value="# messages " />
			        <p:selectOneMenu id="msgAmount" value="#{putMQ.msgAmount}">
		                <f:selectItem itemLabel="1" itemValue="1" />
		                <f:selectItem itemLabel="2" itemValue="2" />
		                <f:selectItem itemLabel="3" itemValue="3" />
		                <f:selectItem itemLabel="4" itemValue="4" />
		                <f:selectItem itemLabel="5" itemValue="5" />
		                <f:selectItem itemLabel="10" itemValue="10" />
		                <f:selectItem itemLabel="25" itemValue="25" />
		                <f:selectItem itemLabel="50" itemValue="50" />
		                <f:selectItem itemLabel="100" itemValue="100" />
		            </p:selectOneMenu>
		        </div>
		        <div class="p-field p-col-12 p-md-3">
<!-- 		        	<h:panelGrid columns="3" > -->
				        <p:outputLabel for="inputFile" value="Input file: " />
				        <p:selectOneRadio id="inputFile" value="#{putMQ.inputFile}" unselectable="false">
				            <f:selectItem itemLabel="Basic sample" itemValue="basic" />
				            <f:selectItem itemLabel="NR sample" itemValue="nr" />
				            <f:selectItem itemLabel="Choose" itemValue="choose" />
				            <f:ajax event="change" render="panel"></f:ajax>
				        </p:selectOneRadio>
<!-- 				    </h:panelGrid> -->
		        </div>
		        <div class="p-field p-col-12 p-md-1">
					<p:commandButton value="Put" id="button" ajax="false" update="@form" action="#{putMQ.putMessage}" style="margin-top:25px;" styleClass="ui-priority-primary" />
		        </div>
		    </div>
		    <h:panelGrid  id="panel" style="width:100%;border-width:0;">
		    	<h:panelGroup id="pgFile" layout="block" rendered="#{putMQ.inputFile eq 'choose'}" style="width: 100%;">
      				<p:fileUpload value="#{putMQ.uploadedFile}" mode="simple" skinSimple="true"/>
      			</h:panelGroup>
      		</h:panelGrid >
 		</h:form>
	</h:body>
</html>
