<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		
	</h:head>
	<ui:fragment>
		<ui:include src="/includes/menubar.xhtml" />
	</ui:fragment>
	<h:body>
     	<h:form enctype="multipart/form-data">
     		<p:messages id="messages" showDetail="true" closable="true" >
				<p:effect type="clip" event="load" delay="5000">
			</p:effect>
		    </p:messages>
		    <p:accordionPanel activeIndex="null">
		        <p:tab title="Change log" closable="true">
		            <h:panelGrid columns="1" cellpadding="10">
		                <h:outputText
		                    value="Check the last updates of the tool" />
		            </h:panelGrid>
		        </p:tab>
		    </p:accordionPanel>
		    <p:separator />
		    <div>
				<p:chronoline value="#{logs.events}" var="event" align="left">
			        #{event.description}
			        <f:facet name="opposite">
			            <small class="text-secondary">#{event.date}</small>
			        </f:facet>
			    </p:chronoline>
			</div>
 		</h:form>
	</h:body>
</html>
