<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		
	</h:head>
	<ui:fragment>
		<ui:include src="/includes/menubar.xhtml" />
	</ui:fragment>
	<h:body>
     	<h:form enctype="multipart/form-data">
     		<p:messages id="messages" showDetail="true" closable="true" >
				<p:effect type="clip" event="load" delay="5000">
			</p:effect>
		    </p:messages>
<!-- 		    <h3>LAU Calculator for XML messages</h3> -->
		    <p:accordionPanel activeIndex="null">
		        <p:tab title="LAU Calculator for XML messages" closable="true">
		            <h:panelGrid columns="1" cellpadding="10">
		                <h:outputText
		                    value="Calculate and add LAU on MX/XML type messages." />
		            </h:panelGrid>
		        </p:tab>
		    </p:accordionPanel>
		    <p:separator />
		    <br></br>
		    <div class="p-formgroup-inline">
		        <div class="p-field">
		            <p:outputLabel for="@next" value="Key part1" />
		            <p:inputText id="keypart1" value="${hash.keypart1}" placeholder="16 characters lenght" required="true" requiredMessage="Insert keypart1!"/>
		        </div>
		        <div class="p-field">
		            <p:outputLabel for="@next" value="Key part2" />
		            <p:inputText id="keypart2" value="${hash.keypart2}" placeholder="16 characters lenght" required="true" requiredMessage="Insert keypart2!" />
		        </div>
		        <div class="p-field">
		        	<p:commandButton value="Generate LAU" id="button" ajax="false" update="@form" action="#{hash.generateLAUxml}" style="margin-right:20px;" styleClass="ui-priority-primary" />
		    	</div>
		    </div>
      		<p:fileUpload value="#{hash.uploadedFile}" mode="simple" skinSimple="true"/>
      		
      		<br/><br/>
      		<div class="ui-fluid p-formgrid p-grid">
		        <div class="p-field p-col-12 p-md-12" >
		            <p:outputLabel for="newMessage" value="New message" disabled="#{hash.saveToFileEnable == false}" />
		            <p:inputTextarea id="newMessage" value="${hash.newMessage}" disabled="#{hash.saveToFileEnable == false}" rows="10" autoResize="false" readonly="true"/>
		        </div>
		    </div>
		    <div class="ui-fluid p-formgrid p-grid">
		        <div class="p-field p-col-2 p-md-1">
		            <p:commandButton value="Save" ajax="false" disabled="#{hash.saveToFileEnable == false}" onclick="PrimeFaces.monitorDownload(start, stop);" icon="pi pi-download">
				        <p:fileDownload value="#{hash.file}" />
				    </p:commandButton>
		        </div>
		    </div>
 		</h:form>
	</h:body>
</html>
