<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		
	</h:head>
	<ui:fragment>
		<ui:include src="/includes/menubar.xhtml" />
	</ui:fragment>
	<h:body>
     	<h:form enctype="multipart/form-data">
     		<p:messages id="messages" showDetail="true" closable="true" >
				<p:effect type="clip" event="load" delay="5000">
			</p:effect>
		    </p:messages>
		    <p:accordionPanel activeIndex="null">
		        <p:tab title="Log4j" closable="true">
		            <h:panelGrid columns="1" cellpadding="10">
		                <h:outputText
		                    value="See the tool logs in here" />
		            </h:panelGrid>
		        </p:tab>
		    </p:accordionPanel>
		    <p:separator />
		    <div class="p-formgroup-inline">
		        <div class="p-field">
		    		<p:commandButton value="Get log" id="button" ajax="false" update="salida" action="#{logs.getLogs}" style="margin-right:20px;" styleClass="ui-priority-primary" />
		    	</div>
		    </div>
			<h:panelGroup id="salida" layout="block">
				<h:panelGroup layout="block" rendered="#{not empty logs.console}">
					<p:scrollPanel mode="native" style="width:100%;height:100%">
						<pre>#{logs.console}</pre>
					</p:scrollPanel>
				</h:panelGroup>
			</h:panelGroup>
 		</h:form>
	</h:body>
</html>
