<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	
	<h:head>
	</h:head>
	<ui:fragment>
		<ui:include src="/includes/menubar.xhtml" />
	</ui:fragment>
	<h:body>
		<h:form enctype="multipart/form-data">
			<p:messages id="messages" showDetail="true" closable="true" >
				<p:effect type="clip" event="load" delay="5000">
			</p:effect>
		    </p:messages>
		    <p:accordionPanel activeIndex="null">
		        <p:tab title="Browse queue" closable="true">
		            <h:panelGrid columns="1" cellpadding="10">
		                <h:outputText
		                    value="Chose a queue manager and a queue to  browse the messages" />
		            </h:panelGrid>
		        </p:tab>
		    </p:accordionPanel>
		    <p:separator />
		    <br></br>
		    <div class="ui-fluid p-formgrid p-grid">
		        <div class="p-field p-col-12 p-md-2">
		            <p:outputLabel for="@next" value="Queue manager"/>
		            <p:selectOneMenu id="qmgrName" value="#{browseq.qmgr}">
		                <f:selectItem itemLabel="Select one" itemValue="#{null}" />
						<f:selectItems value="#{mq.getQmgrs()}" />
						<f:ajax event="change" listener="#{browseq.getQmgrQueues}" render="inQueue" execute="@this"></f:ajax>
		            </p:selectOneMenu>
		        </div>
		        <div class="p-field p-col-12 p-md-2">
		            <p:outputLabel for="inQueue" value="Input queue" />
		            <p:selectOneMenu disabled="#{empty browseq.listQueues}" id="inQueue" value="#{browseq.queue_name}" >
		                <f:selectItem itemLabel="Show all queues" itemValue="*" />
						<f:selectItems value="#{browseq.getListQueues()}" />
		            </p:selectOneMenu>
		        </div>
		        <div class="p-field p-col-12 p-md-1">
		        	<p:commandButton value="Browse" id="button" ajax="false" update="@form formSalida" action="#{browseq.showQueues}" style="margin-top:25px;" styleClass="ui-priority-primary" />
		        </div>
		    </div>
		</h:form>
		<h:form id="formSalida">
			<div style="white-space: pre-wrap">
				<h:panelGroup id="table-results" layout="block">
					<p:remoteCommand name="onComplete" actionListener="#{browseq.showQueues}" update="@form formSalida" />
					<h:panelGroup layout="block" rendered="#{browseq.render == true}">
						<p:dataTable var="queue" id="resultsTable" value="#{browseq.queues}" scrollable="true" scrollHeight="250" stickyHeader="true" style="width: 95%">
							<p:column headerText="Name" sortBy="#{queue.name}" width="40%">
						        <h:outputText value="#{queue.name}" />
						    </p:column>
						    <p:column headerText="Curdepth" sortBy="#{cola.curdepth}" width="10%" styleClass="#{cola.clase}">
						    	<h:panelGroup layout="block" rendered="#{queue.curdepth ne '0'}">
									<div id="span1" style="width: 90%; float: left;">
										<p:commandLink action="#{browseq.getMessagesFromQueue}" id="messages" update="formSalida" title="See messages" value="#{queue.curdepth}">
							    			<f:setPropertyActionListener target="#{browseq.queueParam}" value="#{queue.name}"/>
							    		</p:commandLink>
									</div>
									<div id="span2" style="width: 10%; float: right;">
										<p:commandLink action="#{browseq.clearQueue}" id="dltMessages" update="@form formSalida" title="Clear queue" oncomplete="onComplete()">
											<span class="pi pi-trash" aria-hidden="true"></span>
											<p:confirm header="Clear queue" message="Are you sure?" icon="ui-icon-alert" />
							    			<f:setPropertyActionListener target="#{browseq.queueParam}" value="#{queue.name}"/>
							    		</p:commandLink>
									</div>
								</h:panelGroup>
								<h:panelGroup layout="block" rendered="#{queue.curdepth eq '0'}">
									<h:outputText value="#{queue.curdepth}" />
								</h:panelGroup>
						    </p:column>
						    <p:column headerText="Maxdepth" sortBy="#{queue.maxdepth}" width="10%">
						        <h:outputText value="#{queue.maxdepth}" />
						    </p:column>
						    <p:column headerText="Inputc" sortBy="#{queue.inputc}" width="10%">
						        <h:outputText value="#{queue.inputc}" />
						    </p:column>
						    <p:column headerText="Outputc" sortBy="#{queue.outputc}" width="10%">
						        <h:outputText value="#{queue.outputc}" />
						    </p:column>
						    <p:column headerText="Persistent" sortBy="#{queue.defpsist}" width="10%">
						        <h:outputText value="#{queue.defpsist}" />
						    </p:column>
						</p:dataTable>
						<!-- Delete confirmation dialog -->
						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					    </p:confirmDialog>
					</h:panelGroup>
					<h:panelGroup layout="block" rendered="#{browseq.renderActiveMQ == true}">
						<p:dataTable var="queue" id="resultsTable2" value="#{browseq.queues}" scrollable="true" scrollHeight="250" stickyHeader="true" style="width: 95%">
							<p:column headerText="Name" sortBy="#{queue.name}" width="40%">
						        <h:outputText value="#{queue.name}" />
						    </p:column>
						    <p:column headerText="Curdepth" sortBy="#{cola.curdepth}" width="10%" styleClass="#{cola.clase}">
						    	<h:panelGroup layout="block" rendered="#{queue.curdepth ne '0'}">
									<div id="span1" style="width: 90%; float: left;">
										<p:commandLink action="#{browseq.getMessagesFromQueue}" id="messages" update="formSalida" title="See messages" value="#{queue.curdepth}">
							    			<f:setPropertyActionListener target="#{browseq.queueParam}" value="#{queue.name}"/>
							    		</p:commandLink>
									</div>
								</h:panelGroup>
								<h:panelGroup layout="block" rendered="#{queue.curdepth eq '0'}">
									<h:outputText value="#{queue.curdepth}" />
								</h:panelGroup>
						    </p:column>
						</p:dataTable>
						<!-- Delete confirmation dialog -->
						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					    </p:confirmDialog>
					</h:panelGroup>
					<!-- Muestra los mensajes de una cola -->
					<h:panelGroup id="salidaMsgs" layout="block" rendered="#{browseq.renderMsgs == true}">
						<h2>Messages</h2>
						<p:dataTable var="msg" id="messagesTable" value="#{browseq.messages}" frozenColumns="3" stickyHeader="true" style="width: 95%" emptyMessage="No messages found">
							<p:column headerText="#" sortBy="#{msg.numero}" width="5%">
						        <h:outputText value="#{msg.numero}" />
						    </p:column>
						    <p:column headerText="Put date" sortBy="#{msg.fecha}" width="15%">
						        <h:outputText value="#{msg.fecha}" />
						    </p:column>
						    <p:column headerText="Messageid" sortBy="#{msg.msgid}" width="35%">
						        <h:outputText value="#{msg.msgid}" />
						    </p:column>
	<!-- 					    <p:column headerText="Correlid" sortBy="#{msg.correlid}" width="35%"> -->
	<!-- 					        <h:outputText value="#{msg.correlid}" /> -->
	<!-- 					    </p:column> -->
						    <p:column headerText="msg" sortBy="#{msg.msg}" width="50%">
<!-- 						        <h:outputText value="#{msg.msg}" style="width: 100%" /> -->
						        <h:inputText style="border: 0; width: 100% " value="#{msg.msg}" readonly="true"></h:inputText>
						    </p:column>
						    <p:column style="width:50px;text-align: center">
						    	<p:commandLink update=":formSalida:msgDetail" oncomplete="PF('msgDialog').show()" title="View message">
				                    <h:outputText styleClass="pi pi-search" style="margin:0 auto;"/>
				                    <f:setPropertyActionListener value="#{msg.msgFormateado}" target="#{browseq.msgParam}" />
				                </p:commandLink>
				        	</p:column>
						</p:dataTable>
						
						<!-- Muestra un msg -->
						<p:dialog header="Message" widgetVar="msgDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="true" width="900" height="600" >
					        <p:outputPanel id="msgDetail">
					             <h:outputText value="#{browseq.msgParam}" style="white-space: pre-wrap;" />
					        </p:outputPanel>
					    </p:dialog>
					</h:panelGroup>
				</h:panelGroup>
			</div>
		</h:form>
	</h:body>
</html>
