<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	
	<ui:fragment>
		<ui:include src="/includes/menubar.xhtml" />
	</ui:fragment>
	<h:head>
	</h:head>
	<h:body>
		<h:form enctype="multipart/form-data">
			<p:messages id="messages" showDetail="true" closable="true" >
				<p:effect type="clip" event="load" delay="5000">
				</p:effect>
		    </p:messages>
		    <p:accordionPanel activeIndex="null">
		        <p:tab title="Put MQ Message" closable="true">
		            <h:panelGrid columns="1" cellpadding="10">
		                <h:outputText
		                    value="Chose a queue manager and a queue and upload a message from a file. 
		                    The content of the file will be queued as a single message to the selected queue." />
		            </h:panelGrid>
		        </p:tab>
		    </p:accordionPanel>
		    <p:separator />
		    <br></br>
		    <div class="ui-fluid p-formgrid p-grid">
		        <div class="p-field p-col-12 p-md-2">
		        	<p:outputLabel for="@next" value="Queue manager"/>
	                <p:selectOneMenu id="qmgrName" value="#{test.qmgr}">
	                    <f:selectItem itemLabel="Select one" itemValue="#{null}" />
						<f:selectItems value="#{test.getQmgrs()}" />
						<f:ajax event="change" listener="#{test.getQmgrQueues}" render="inQueue sampleMessage" execute="@this"></f:ajax>
	                </p:selectOneMenu>
		        </div>
		        <div class="p-field p-col-12 p-md-2">
		            <p:outputLabel for="inQueue" value="Input queue" />
		            <p:selectOneMenu disabled="#{empty test.listQueues}" id="inQueue" value="#{test.inQueue}" >
		                <f:selectItem itemLabel="Select one" itemValue="#{null}" />
						<f:selectItems value="#{test.getListQueues()}" />
						<f:ajax event="change" listener="#{test.buildListSampleFilesCombo}" render="sampleMessage" execute="@this"></f:ajax>
		            </p:selectOneMenu>
		        </div>
		        <div class="p-field p-col-12 p-md-4">
		            <p:outputLabel for="sampleMessage" value="Sample Message" />
		            <p:selectOneMenu disabled="#{empty test.listSampleFiles}" id="sampleMessage" value="#{test.sampleFileName}" >
		                <f:selectItem itemLabel="Select message" itemValue="#{null}" />
						<f:selectItems value="#{test.getListSampleFiles()}" />
		            </p:selectOneMenu>
		        </div>
		        <div class="p-field p-col-12 p-md-3">
<!-- 		        	<h:panelGrid columns="3" > -->
				        <p:outputLabel for="inputFile" value="Input file: " />
				        <p:selectOneRadio id="inputFile" value="#{test.inputFile}" unselectable="false">
				            <f:selectItem itemLabel="Sample File" itemValue="sample" />
				            <f:selectItem itemLabel="Local file" itemValue="local" />
				            <f:ajax event="change" render="panel"></f:ajax>
				        </p:selectOneRadio>
<!-- 				    </h:panelGrid> -->
		        </div>
		   </div>   
		    <div class="ui-fluid p-formgrid p-grid">
		    	<div class="p-field p-col-12 p-md-1">
		        	<p:commandButton value="Put" id="button" ajax="false" update="@form" action="#{test.putMessage}" style="margin-top:25px;" styleClass="ui-priority-primary" />
		        </div>
		    </div>
		    <h:panelGrid  id="panel" style="width:100%;border-width:0;">
		    	<h:panelGroup id="pgFile" layout="block" rendered="#{test.inputFile eq 'local'}" style="width: 100%;">
      				<p:fileUpload value="#{test.uploadedFile}" mode="simple" skinSimple="true" />
      			</h:panelGroup>
      		</h:panelGrid >
		    
		</h:form>
	</h:body>
</html>
