<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	
	<ui:fragment>
		<ui:include src="/includes/menubar.xhtml" />
	</ui:fragment>
	<h:head>
	</h:head>
	<h:body>
		<h:form>
			<p:messages id="messages" showDetail="true" closable="true" >
				<p:effect type="clip" event="load" delay="5000">
				</p:effect>
		    </p:messages>
		    <p:accordionPanel activeIndex="null">
		        <p:tab title="Put MT199 Message to queue" closable="true">
		            <h:panelGrid columns="1" cellpadding="10">
		                <h:outputText
		                    value="Select the messages origin, you can read a sample from a file or complete the form with the block values and an mq message will be put using mt199 format.
		                           select QM_NETLINK and Q_TOSWIFT TO SEND " />
		            </h:panelGrid>
		        </p:tab>
		    </p:accordionPanel>
		    <p:separator />
		    <br></br>
		    <div class="ui-fluid p-formgrid p-grid">
		        <div class="p-field p-col-12 p-md-2">
		            <p:outputLabel for="@next" value="Queue manager" />
		            <p:selectOneMenu id="qmgrName" value="#{putMQ.qmgr}" required="true" requiredMessage="Select a queue manager">
		                <f:selectItem itemLabel="Select one" itemValue="#{null}" />
						<f:selectItems value="#{test.getQmgrs()}" />
						<f:ajax event="change" listener="#{putMQ.getQmgrQueues}" render="inQueue" execute="@this"></f:ajax>
		            </p:selectOneMenu>
		        </div>
		        <div class="p-field p-col-12 p-md-3">
		            <p:outputLabel for="inQueue" value="Input queue" />
		            <p:selectOneMenu disabled="#{empty putMQ.listQueues}" id="inQueue" value="#{putMQ.inQueue}" required="true" requiredMessage="Select a queue">
		                <f:selectItem itemLabel="Select one" itemValue="#{null}" />
						<f:selectItems value="#{putMQ.getListQueues()}" />
						<f:ajax event="change" listener="#{putMQ.getSampleMessages}" render="inMessage" execute="@this"></f:ajax>
		            </p:selectOneMenu>
		        </div>
		        <div class="p-field p-col-12 p-md-3">
		            <p:outputLabel for="inMessage" value="Message from" />
		            <p:selectOneMenu disabled="#{empty putMQ.listMessages}" id="inMessage" value="#{putMQ.inMessage}">
		                <f:selectItem itemLabel="Form" itemValue="Form" />
						<f:selectItems value="#{putMQ.getListMessages()}" />
		            </p:selectOneMenu>
		        </div>
		        <div class="p-field p-col-12 p-md-1">
		        	<p:commandButton value="Put" id="button" ajax="false" update="@form" action="#{putMQ.putMT199Message}" style="margin-top:25px;" styleClass="ui-priority-primary" />
		        </div>
		        
		        <div class="p-field p-col-12 p-md-3"></div>
		    	<div class="p-field p-col-12 p-md-3">
		            <p:outputLabel for="@next" value="Block 1" />
		            <p:inputText id="block1" value="${putMQ.block1}" placeholder="" required="true" requiredMessage="Complete the block value"/>
		        </div>
		        <div class="p-field p-col-12 p-md-3">
		            <p:outputLabel for="@next" value="Block 2" />
		            <p:inputText id="block2" value="${putMQ.block2}" placeholder="" required="true" requiredMessage="Complete the block value"/>
		        </div>
		        <div class="p-field p-col-12 p-md-3">
		            <p:outputLabel for="@next" value="Block 3" />
		            <p:inputText id="block3" value="${putMQ.block3}" placeholder="" required="true" requiredMessage="Complete the block value"/>
		        </div>
		        <div class="p-field p-col-12 p-md-9">
		        	<div class="ui-fluid p-formgrid p-grid">
		        		<div class="p-field p-col-12 p-md-6">
			            <p:outputLabel for="@next" value="Block 4-Field20" />
			            <p:inputText id="block4_field20" value="${putMQ.block4_field20}" placeholder="" required="true" requiredMessage="Complete the block value"/>
		            </div>
		            <div class="p-field p-col-12 p-md-6">
			            <p:outputLabel for="@next" value="Block 4-Field79" />
			            <p:inputText id="block4_field79" value="${putMQ.block4_field79}" placeholder="" required="true" requiredMessage="Complete the block value"/>
			        </div>
		        	</div>
		        	
		        </div>
		    </div>
		</h:form>
	</h:body>
</html>
