<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	
	<h:head>
	</h:head>

	<h:body>
		<h1>Primera imagen</h1>
		<h:graphicImage name="images/Ezequiel.jpg" />
		<h1>Segunda imagen</h1>
		<p:graphicImage name="images/Ezequiel.jpg" />
		<h1>Tercera imagen</h1>
		<img alt="Imagen" src="images/ajaxload.gif" />
	</h:body>
</ui:composition>
