<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		
	</h:head>
	<ui:fragment>
		<ui:include src="/includes/menubar.xhtml" />
	</ui:fragment>
	<h:body>
     	<h:form enctype="multipart/form-data">
     		<p:messages id="messages" showDetail="true" closable="true" >
				<p:effect type="clip" event="load" delay="5000">
			</p:effect>
		    </p:messages>
<!-- 		    <h3>Test Soap</h3> -->
		    <p:accordionPanel activeIndex="null">
		        <p:tab title="Test Soap" closable="true">
		            <h:panelGrid columns="1" cellpadding="10">
		                <h:outputText
		                    value="SOAP test for SAA." />
		            </h:panelGrid>
		        </p:tab>
		    </p:accordionPanel>
		    <p:separator />
		    <br></br>
		    <div class="ui-fluid p-formgrid p-grid">
		        <div class="p-field p-col-12 p-md-4">
		            <p:outputLabel for="@next" value="URL"/>
		            <p:inputText id="endpoint" value="${soapha.endpoint}" placeholder="" required="true" requiredMessage="Please provide a valid URL"/>
		        </div>
		        <div class="p-field p-col-12 p-md-2">
					<div class="ui-g-12" style="margin-top: 30px;">
						<p:outputLabel for="@next" value=""/>
						<p:selectBooleanCheckbox value="${soapha.send}" id="send" itemLabel="Send"/>
						<p:selectBooleanCheckbox value="${soapha.get}" id="get" itemLabel="Get"/>
					</div>
		        </div>
		        <div class="p-field p-col-12 p-md-1">
		        	<p:commandButton value="Run" id="button" update="@form,formSalida" ajax="false" action="#{soapha.run}" global="true" async="true" onclick="PF('poll').start();" style="margin-right:20px;margin-top:25px;" styleClass="ui-priority-primary" />
		        </div>
		    </div>
		    <div class="ui-fluid p-formgrid p-grid">
		    	<div class="p-field p-col-12 p-md-2">
		            <p:outputLabel for="@next" value="Sender Message Partner" />
		            <p:inputText id="sdr_msg_partner" value="${soapha.send_partner}" placeholder="" required="true" requiredMessage="Insert sender message partner"/>
		        </div>
		        <div class="p-field p-col-12 p-md-2">
		            <p:outputLabel for="@next" value="Receiver Message Partner" />
		            <p:inputText id="rcv_msg_partner" value="${soapha.recv_partner}" placeholder="" required="true" requiredMessage="Insert receiver message partner"/>
		        </div>
		        <div class="p-field p-col-12 p-md-4">
		        	<h:panelGrid columns="2" style="margin-top:25px" cellpadding="5">
				        <p:outputLabel for="@next" value="Input mode"/>
				        <p:selectOneRadio id="inputMode" value="#{soapha.inputMode}" unselectable="false">
				            <f:selectItem itemLabel="File" itemValue="File" />
				            <f:selectItem itemLabel="Form" itemValue="Form" />
				            <f:ajax event="change" render="panel"></f:ajax>
				        </p:selectOneRadio>
				    </h:panelGrid>
		        </div>
		    </div>
		    <p:panel id="panel" style="width:100%;border-width:0;">
	      		<h:panelGroup id="pgFile" layout="block" rendered="#{soapha.inputMode eq 'File'}" style="width: 100%;">
					<p:fileUpload value="#{soapha.uploadedFile}" mode="simple" skinSimple="true"/>
				</h:panelGroup>
				<h:panelGroup id="pgForm" layout="block" rendered="#{soapha.inputMode eq 'Form'}" style="width: 100%;">
					<div class="ui-fluid p-formgrid p-grid">
				        <div class="p-field p-col-12 p-md-2">
				            <p:outputLabel for="@next" value="Sender_bic12" />
				            <p:inputText id="sender_bic12" value="${soapha.send_bic12}" placeholder=""/>
				        </div>
	<!-- 				    <div class="p-field p-col-12 p-md-2"> -->
	<!-- 			            <p:outputLabel for="sender_x1" styleClass="ui-sr-only" value="Sender_x1" /> -->
	<!-- 			            <p:inputText id="sender_x1" value="${soapha.send_x1}" placeholder="" /> -->
	<!-- 			        </div> -->
				        <div class="p-field p-col-12 p-md-2">
				            <p:outputLabel for="@next" value="Receiver_bic12" />
				            <p:inputText id="receiver_bic12" value="${soapha.recv_bic12}" placeholder=""  />
				        </div>
	<!-- 			        <div class="p-field p-col-12 p-md-2"> -->
	<!-- 			            <p:outputLabel for="receiver_x1" styleClass="ui-sr-only" value="Receiver_x1" /> -->
	<!-- 			            <p:inputText id="receiver_x1" value="${soapha.recv_x1}" placeholder="" /> -->
	<!-- 			        </div> -->
						<div class="p-field p-col-12 p-md-3">
				            <p:outputLabel for="@next" value="Field 20" />
				            <p:inputText id="field20" value="${soapha.field20}" placeholder=""/>
				        </div>
				        <div class="p-field p-col-12 p-md-3">
				            <p:outputLabel for="@next" value="Field 79" />
				            <p:inputText id="field79" value="${soapha.field79}" placeholder=""/>
				        </div>
				    </div>
				</h:panelGroup>
			</p:panel>
 		</h:form>
 		<h:form id="formSalida">
			<div style="white-space: pre-wrap">
				<h:panelGroup id="table-results" layout="block">
					<h:panelGroup layout="block" rendered="#{soapha.render == true}">
						<p:dataTable var="result" id="resultsTable" value="#{soapha.httpCallResults}" stickyHeader="true" style="width: 66%">
							<p:column headerText="Method" sortBy="#{result.description}" width="35%">
						        <h:outputText value="#{result.description}" />
						    </p:column>
						    <p:column headerText="Status Code" sortBy="#{result.statusCode}" width="10%">
						        <h:outputText value="#{result.statusCode}" />
						    </p:column>
						    <p:column headerText="In" width="5%" style="text-align: center;">
				            	<p:commandLink update=":formSalida:msgDetail" oncomplete="PF('msgDialog').show()" title="View Detail">
				                	<h:outputText styleClass="pi pi-search" style="margin:0 auto;"/>
				                	<f:setPropertyActionListener value="#{result.requestMessage}" target="#{soapha.msgParam}" />
				            	</p:commandLink>
				        	</p:column>		    		    
				        	<p:column headerText="Out" width="5%" style="text-align: center;">
					        	<p:commandLink update=":formSalida:msgDetail" oncomplete="PF('msgDialog').show()" title="View Detail">
				                    <h:outputText styleClass="pi pi-search" style="margin:0 auto;"/>
				                    <f:setPropertyActionListener value="#{result.responseMessage}" target="#{soapha.msgParam}" />
				                </p:commandLink>
			                </p:column>
						</p:dataTable>
					</h:panelGroup>
					<!-- Shows messages -->
					<p:dialog header="Message" widgetVar="msgDialog" modal="true" width="800" height="500" showEffect="fade" hideEffect="fade" resizable="true">
				        <p:outputPanel id="msgDetail">
				             <h:outputText value="#{soapha.msgParam}" style="white-space: pre-wrap;" />
				        </p:outputPanel>
				    </p:dialog>
				</h:panelGroup>
				<p:poll widgetVar="poll" interval="1" autoStart="false" global="false" update="table-results"></p:poll>
			</div>
		</h:form>
	</h:body>
</html>
