<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		
	</h:head>
	<ui:fragment>
		<ui:include src="/includes/menubar.xhtml" />
	</ui:fragment>
	<h:body>
     	<h:form enctype="multipart/form-data">
     		<p:messages id="messages" showDetail="true" closable="true" >
				<p:effect type="clip" event="load" delay="5000">
			</p:effect>
		    </p:messages>
		    <p:accordionPanel activeIndex="null">
		        <p:tab title="Add queue manager" closable="true">
		            <h:panelGrid columns="1" cellpadding="10">
		                <h:outputText
		                    value="Complete the form to add a new queue manager to Netlink Message Manager. Information will be store in a properties file." />
		            </h:panelGrid>
		        </p:tab>
		    </p:accordionPanel>
		    <p:separator />
		    <br></br>
		    <div class="ui-g ui-fluid">
	            <div class="ui-g-12 ui-md-2">
	                <div class="ui-inputgroup">
	                    <span class="ui-inputgroup-addon">1</span>
	                    <p:inputText id="qmgr" value="${config_qmgrs.qmgrName}" placeholder="* Queue manager name" required="true" requiredMessage="Please complete the queue manager name!"/>
	                </div>
	            </div>
	            <div class="ui-g-12 ui-md-2">
	                <div class="ui-inputgroup">
	                    <span class="ui-inputgroup-addon">2</span>
	                    <p:inputText id="server" value="${config_qmgrs.server}" placeholder="* Server" required="true" requiredMessage="Please complete the server name or ip!"/>
	                </div>
	            </div>
	            <div class="ui-g-12 ui-md-2">
	                <div class="ui-inputgroup">
	                    <span class="ui-inputgroup-addon">3</span>
	                    <p:inputText id="port" value="${config_qmgrs.port}" placeholder="* Port" required="true" requiredMessage="Please complete the port number!"/>
	                </div>
	            </div>
	            <div class="ui-g-12 ui-md-1">
	            	<div class="ui-inputgroup">
	                    <span class="ui-inputgroup-addon">4</span>
                    <p:selectOneMenu id="qmgrName" value="#{config_qmgrs.isAGI}" required="true" requiredMessage="Please select if this is an AGI qmgr or not!">
		                <f:selectItem itemLabel="is AGI?" itemValue="#{null}" />
						<f:selectItem itemLabel="Yes" itemValue="true" />
						<f:selectItem itemLabel="No" itemValue="false" />
		            </p:selectOneMenu>
		            </div>
	            </div>
	        </div>
	        <div class="ui-g ui-fluid">
	        	<div class="ui-g-12 ui-md-2">
	                <div class="ui-inputgroup">
	                    <span class="ui-inputgroup-addon">5</span>
	                    <p:inputText id="channel" value="${config_qmgrs.channel}" placeholder="* Channel" required="true" requiredMessage="Please complete the channel name!"/>
	                </div>
	            </div>
	            <div class="ui-g-12 ui-md-2">
	                <div class="ui-inputgroup">
	                    <span class="ui-inputgroup-addon">6</span>
	                    <p:inputText id="username" value="${config_qmgrs.username}" placeholder="Username" required="false" />
	                </div>
	            </div>
	            <div class="ui-g-12 ui-md-2">
	                <div class="ui-inputgroup">
	                    <span class="ui-inputgroup-addon">7</span>
	                    <p:inputText id="password" value="${config_qmgrs.password}" placeholder="Password" type="password" required="false" />
	                </div>
	            </div>
	            <div class="p-field p-col-12 p-md-1">
		        	<p:commandButton value="Add" id="button" ajax="false" update="@form" action="#{config_qmgrs.addNewQmgr}" styleClass="ui-priority-primary" />
		        </div>
	        </div>
 		</h:form>
	</h:body>
</html>
