<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		
	</h:head>
	<ui:fragment>
		<ui:include src="/includes/menubar.xhtml" />
	</ui:fragment>
	<h:body>
     	<h:form enctype="multipart/form-data">
     		<p:messages id="messages" showDetail="true" closable="true" >
				<p:effect type="clip" event="load" delay="5000">
			</p:effect>
		    </p:messages>
		    <p:accordionPanel activeIndex="null">
		        <p:tab title="Remove queue manager" closable="true">
		            <h:panelGrid columns="1" cellpadding="10">
		                <h:outputText
		                    value="Select the queue manager from combobox to be remove.  Information will be erase from qmgr.properties file " />
		            </h:panelGrid>
		        </p:tab>
		    </p:accordionPanel>
		    <p:separator />
		    <br></br>
		    <div class="ui-g ui-fluid">
	            <div class="p-field p-col-12 p-md-2">
		            <p:outputLabel for="@next" value="Queue manager" />
		            <p:selectOneMenu id="qmgrName" value="#{config_qmgrs.qmgrName}">
		                <f:selectItem itemLabel="Select one" itemValue="#{null}" />
						<f:selectItems value="#{test.getQmgrs()}" />
		            </p:selectOneMenu>
		        </div>
	            <div class="p-field p-col-12 p-md-1">
		        	<p:commandButton value="Delete" id="button" ajax="false" update="@form" action="#{config_qmgrs.removeQmgr}" style="margin-top:25px;" styleClass="ui-priority-primary" />
		        </div>
	        </div>
 		</h:form>
	</h:body>
</html>
