<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	
	<h:head>	
		<title>SwiftDevSystem</title>
		<link rel="Shortcut Icon" href="images/TraceminatorIcon.ico" />
		<h:outputStylesheet name="css/primeflex/primeflex.css"/>
	</h:head>

	<h:body>
		<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
		<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
			<div class="p-text-center">
	            <i class="pi pi-spin pi-spinner loading-icon" aria-hidden="true"></i>
	        </div>
		</p:dialog>
		<h:form>
<!-- 			<p:growl id="messages" /> -->
			<p:menubar>
				<p:submenu label="Tools" icon="pi pi-bars">
					<p:submenu label="LAU" icon="pi pi-chevron-circle-right">
						<p:menuitem value="LAU for MT" icon="pi pi-key" update="messages" url="#{request.contextPath}/pages/lau_mt_calculator.xhtml" />
						<p:menuitem value="LAU for XML" icon="pi pi-key" update="messages" url="#{request.contextPath}/pages/lau_xml_calculator.xhtml" />
					</p:submenu>
					<p:menuitem value="AGI" icon="pi pi-caret-right" update="messages" url="#{request.contextPath}/pages/AGI_message.xhtml" />
					<p:menuitem value="FAPayLoadDigest" icon="pi pi-caret-right" update="messages" url="#{request.contextPath}/pages/digest.xhtml" />
					<p:submenu label="MQ" icon="pi pi-chevron-circle-right">
						<p:menuitem value="Put message" icon="pi pi-caret-right" update="messages" url="#{request.contextPath}/pages/mq_message.xhtml" />
		            	<p:menuitem value="Browse queue" icon="pi pi-caret-right" update="messages" url="#{request.contextPath}/pages/mq_browse.xhtml" />
					</p:submenu>
					<p:submenu label="Library" icon="pi pi-chevron-circle-right">
						<p:menuitem value="Soapha" icon="pi pi-key" update="messages" url="#{request.contextPath}/pages/soapha.xhtml" />
						<p:menuitem value="MsgLib" icon="pi pi-key" update="messages" url="#{request.contextPath}/pages/mt199_to_mq.xhtml" />
					</p:submenu>
				</p:submenu>
				<p:submenu label="Config" icon="pi pi-cog">
					<p:menuitem value="Add qmgr" icon="pi pi-plus" update="messages" url="#{request.contextPath}/pages/config-tab/add_qmgr.xhtml" />
					<p:menuitem value="Remove qmgr" icon="pi pi-minus" update="messages" url="#{request.contextPath}/pages/config-tab/remove_qmgr.xhtml" />
				</p:submenu>
				<p:submenu label="logs" icon="pi pi-pencil">
					<p:menuitem value="Change log" icon="pi pi-comment" update="messages" url="#{request.contextPath}/pages/change_log.xhtml" />
					<p:menuitem value="Log4j" icon="pi pi-comments" update="messages" url="#{request.contextPath}/pages/log4j.xhtml" />
				</p:submenu>
				<f:facet name="options">
					<p:link href="#{request.contextPath}/index.xhtml">
						<p:commandButton type="button" value="Home" icon="pi pi-home" />
<!-- 						<p:commandButton image="someCssClassName" /> -->
					</p:link>
				</f:facet>
			</p:menubar>
		</h:form>
	</h:body>
</ui:composition>
