<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<h:outputStylesheet name="/resources/css/primeflex/primeflex.css"/>
	<!-- 		 
	<style>
	body {
		background-image: url("#{resource['images/netlink-background.jpg']}");
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	</style> -->
</h:head>

<ui:fragment>
	<ui:include src="/includes/menubar.xhtml" />
</ui:fragment>

<h:body>
	<pre>#{hash.mensaje}</pre>
		<div class="container">
			<p style="text-align: center;font-size: 25px">
					Welcome to<span class="text-aqua"> 
					<i><a>Netlink Message Manager</a></i></span> <br />
					<p:graphicImage name="images/netlink-testlabs-35.jpg" />
			</p>
		</div>
		<div class="container">
			<p style="text-align: center">
				<p:graphicImage name="images/netlink-background.jpg" />
			</p>
		</div>
		<div id="footer">
			<p style="text-align: left;font-size: 15px">
				Log info:<span class="text-aqua"> 
				<i><a>31/03/2021: Added SSL option to queue managers connections</a></i></span>
			</p>
		</div>
</h:body>

</html>
